/* Color variables */

:root {
  --pantone-old-gold: #EEB127;
  --iscc-metallic-gold: #D4AF37;
}

/* Font */

@font-face {
  font-family: 'Antipasto';
  src: url('./assets/Antipasto-Pro-Regular-trial.ttf');
}

@font-face {
  font-family: 'Antipasto-Light';
  src: url('./assets/Antipasto-Pro-ExtraLight-trial.ttf');
}



/* Overall app styling */

#app {
  /* Background */
  height: 100vh;
  width: 100vw;
  background-image: url('assets/black-denim-25.jpg');

  /* Grid */
  display: grid;
  grid-template-columns: 1fr 850px 1fr;
  grid-template-rows: 100px 1fr 40px;
  place-items: start center;

  /* Text */
  color: var(--pantone-old-gold);
  font-family: 'Antipasto', sans-serif;
  font-size: 3em;
}

.body-section {
  grid-area: 2 / 2 / 3 / 3;
}

.center-spot {
  position: relative;
  top: 30%;
}
