/* Color variables */

:root {
  --pantone-old-gold: #eeb127;
  --welcome-to-wooster-delay: 0.5s;
  --welcome-to-wooster-duration: 7.5s;
  --welcome-to-wooster-stagger: 0.125s;
}

/* Font */

@font-face {
  font-family: 'Antipasto';
  src: url('./assets/Antipasto-Pro-Regular-trial.ttf');
}

/* @font-face {
  font-family: 'Antipasto-Light';
  src: url('./assets/Antipasto-Pro-ExtraLight-trial.ttf');
} */

/* Overall app styling */

#app {
  /* Background */
  height: 100vh;
  width: 100vw;
  background-image: url('assets/black-denim-25.jpg');

  /* Grid */
  display: grid;
  grid-template-columns: 1fr 850px 1fr;
  grid-template-rows: 100px 1fr 40px;
  place-items: start center;

  /* Text */
  /* color: var(--pantone-old-gold);
  font-family: 'Antipasto', sans-serif;
  font-size: 2rem; */
}

/* Placement classes */

.body-section {
  grid-area: 2 / 2 / 3 / 3;
}

.center-spot {
  position: relative;
  top: 33%;
}

#letters-and-mask {
  width: 523px;
  height: 50px;
}

/* SVG animation */

.cls-1, .cls-3 {
  fill: none;
}

.cls-2 {
  clip-path: url(#clip-path);
}

.cls-3 {
  stroke: #fff;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 9px;

  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation-name: dash;
  animation-duration: var(--welcome-to-wooster-duration);
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.slow-e-bar {
  animation-duration: calc(var(--welcome-to-wooster-duration) * 1.5);
}

.slow-t-bar {
  animation-duration: calc(var(--welcome-to-wooster-duration) * 2);
}

.slow-o {
  animation-duration: calc(var(--welcome-to-wooster-duration) * 2);
}

.group-1 {
  animation-delay: calc(var(--welcome-to-wooster-delay) + var(--welcome-to-wooster-stagger));
}
.group-2 {
  animation-delay: calc(var(--welcome-to-wooster-delay) + var(--welcome-to-wooster-stagger) * 2)
}
.group-3 {
  animation-delay: calc(var(--welcome-to-wooster-delay) + var(--welcome-to-wooster-stagger) * 3);
}
.group-4 {
  animation-delay: calc(var(--welcome-to-wooster-delay) + var(--welcome-to-wooster-stagger) * 4);
}
.group-5 {
  animation-delay: calc(var(--welcome-to-wooster-delay) + var(--welcome-to-wooster-stagger) * 5);
}
.group-6 {
  animation-delay: calc(var(--welcome-to-wooster-delay) + var(--welcome-to-wooster-stagger) * 6);
}
.group-7 {
  animation-delay: calc(var(--welcome-to-wooster-delay) + var(--welcome-to-wooster-stagger) * 7);
}
.group-8 {
  animation-delay: calc(var(--welcome-to-wooster-delay) + var(--welcome-to-wooster-stagger) * 8);
}
.group-9 {
  animation-delay: calc(var(--welcome-to-wooster-delay) + var(--welcome-to-wooster-stagger) * 9);
}
.group-10 {
  animation-delay: calc(var(--welcome-to-wooster-delay) + var(--welcome-to-wooster-stagger) * 10);
}
.group-11 {
  animation-delay: calc(var(--welcome-to-wooster-delay) + var(--welcome-to-wooster-stagger) * 11);
}
.group-12 {
  animation-delay: calc(var(--welcome-to-wooster-delay) + var(--welcome-to-wooster-stagger) * 12);
}
.group-13 {
  animation-delay: calc(var(--welcome-to-wooster-delay) + var(--welcome-to-wooster-stagger) * 13);
}
.group-14 {
  animation-delay: calc(var(--welcome-to-wooster-delay) + var(--welcome-to-wooster-stagger) * 14);
}
.group-15 {
  animation-delay: calc(var(--welcome-to-wooster-delay) + var(--welcome-to-wooster-stagger) * 15);
}
.group-16 {
  animation-delay: calc(var(--welcome-to-wooster-delay) + var(--welcome-to-wooster-stagger) * 16);
}
.group-17 {
  animation-delay: calc(var(--welcome-to-wooster-delay) + var(--welcome-to-wooster-stagger) * 17);
}
.group-18 {
  animation-delay: calc(var(--welcome-to-wooster-delay) + var(--welcome-to-wooster-stagger) * 18);
}


.cls-4 {
  clip-path: url(#clip-path-2);
}

.cls-5 {
  clip-path: url(#clip-path-3);
}

.cls-6 {
  clip-path: url(#clip-path-4);
}

.cls-7 {
  clip-path: url(#clip-path-5);
}

.cls-8 {
  clip-path: url(#clip-path-6);
}

.cls-9 {
  clip-path: url(#clip-path-7);
}

.cls-10 {
  clip-path: url(#clip-path-8);
}

.cls-11 {
  clip-path: url(#clip-path-9);
}

.cls-12 {
  clip-path: url(#clip-path-10);
}

.cls-13 {
  clip-path: url(#clip-path-11);
}

.cls-14 {
  clip-path: url(#clip-path-12);
}

.cls-15 {
  clip-path: url(#clip-path-13);
}

.cls-16 {
  clip-path: url(#clip-path-14);
}

.cls-17 {
  clip-path: url(#clip-path-15);
}

.cls-18 {
  clip-path: url(#clip-path-16);
}


@keyframes dash {
  0% {
    opacity: 0%;
  }
  7.5% {
    opacity: 100%;
  }
  100% {
   stroke-dashoffset: 0;
  }
}