/* Graphical effects */

.blurred {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

/* Background image */
html { 
  background: url(assets/winter-cafe.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Window Too Small message */
#window-too-small-box {
  height: 100vh;
  background: rgba(255, 255, 255, 0.85);
  font-family: 'Abel', sans-serif;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  padding: 0 15%;
  line-height: 125%;
}

/* Main grid, dividing nav sidebar and main content */
#wooster {
  display: grid;
  grid-template-columns: minmax(200px, 18%) 1fr;
}

/* Nav sidebar */
nav {
  height: 100vh;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 0 3px 3px 0;

  display: flex;
  flex-direction: column;
}

nav #wooster-music {
  margin: 1.5rem 0;
  width: 66%;
  min-width: 150px;
  position: relative;
  left: 12%;
}

nav li {
  margin-left: 12%;
  padding: 1rem;
  border-left: 2px groove;
  font-family: 'Buenard', serif;
  font-size: 1.0625rem;
}

nav #dark-mode-text {
  font-family: 'Abel', sans-serif;
  margin: auto 1.5rem 1.5rem auto;
  font-size: 0.9375rem;
}

nav #dark-mode-text img {
  position: relative;
  bottom: -12%;
  margin-left: 0.5rem;
  height: 0.9375rem;
}

/* Main panel - blurred sample page */
main #sample-ui {
  height: calc(100vh - 6rem - 3rem);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  margin: 3rem 2.5rem;
  width: calc(100% - 5rem - 3rem);
  max-width: 1280px;
  padding: 1.5rem;

  display: grid;
  grid-template-rows: auto 0.4fr 1fr 0.4fr 0.3fr; 
  align-items: center;
  
  font-family: 'Abel', sans-serif;

  position: absolute;
  z-index: -1;
}

/* Main panel - login components */
main #login {
  height: calc(100vh - 6rem - 3rem);
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  margin: 3rem 2.5rem;
  width: calc(100% - 5rem - 3rem);
  max-width: 1280px;
  padding: 1.5rem;

  display: grid;
  grid-template-rows: auto 0.4fr 1fr 0.4fr 0.3fr; 
  align-items: center;
  
  font-family: 'Abel', sans-serif;
}

main #login-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main #main-subtitle {
  font-size: 1.25rem;
}

main #login-box img {
  height: 2.45rem;
}

main #logged-in-text {
  text-align: right;
  font-size: 0.9375rem;
}

main #main-title {
  font-size: 2.75rem;
  text-align: center;
  position: relative;
  top: 20%;
}

main #song-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

main #song-box img {
  height: 20vh;
  margin: 1.25rem;
}

main #song-box #song-box-text {
  margin: 1.25rem;
}

main #song-box #song-box-text #song-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

main #song-box #song-box-text #song-artists {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

main #control-bar {
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr 1fr 1fr 1fr 2.5fr;
  grid-template-rows: 1fr 3px;
  place-items: center;
}

/* main #control-bar .control-bar-sleep {
  position: relative;
  top: 0.25rem;
  left: 1rem;
  grid-column: 2 / 3;
  height: 1.8rem;
} */

main #control-bar .control-bar-dislike {
  position: relative;
  top: 0.45rem;
  grid-column: 2 / 3;
  height: 1.5rem;
}

main #control-bar .control-bar-skip-back {
  position: relative;
  grid-column: 3 / 4;
  height: 2rem;
}

main #control-bar .control-bar-play-pause {
  grid-column: 4 / 5;
  height: 5rem;
}

main #control-bar .control-bar-skip-forward {
  position: relative;
  grid-column: 5 / 6;
  height: 2rem;
}

main #control-bar .control-bar-like {
  position: relative;
  bottom: 0.3rem;
  grid-column: 6 / 7;
  height: 1.5rem;
}

main #control-bar .control-bar-line {
  position: relative;
  top: 2rem;
  grid-area: 2 / 7 / 3 / 2;
  width: 75%;
}
